<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-20 px-20 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-40 lg:px-40">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Welcome to Coding and
                Canvas, where innovation meets design.</h1>
            <p class="mb-4">Coding and Canvas is a
                full-service web development and design agency committed to transforming your digital presence into a
                powerful, engaging, and user-friendly experience. Coding and Canvas builds websites that not only look
                stunning but also perform seamlessly.

            <p class="mb-4">With a passion for technology and an eye for detail, I specialize in crafting custom
                solutions tailored to meet your unique business needs. Whether you’re a startup looking to establish an
                online presence or an established brand aiming to revamp your digital strategy, I can bring your vision
                to life.</p>

            <p class="mb-4">At Coding and Canvas, I believe that a great website is more than just a digital
                storefront—it's an essential tool for connecting with your audience, driving growth, and achieving your
                goals. From responsive design and e-commerce solutions to SEO optimization and ongoing support, I offer
                a comprehensive range of services to help your business thrive in the digital world.</p>

            <p class="mb-4">Let’s build something extraordinary together.</p>

        </div>
        {{!-- <div class="grid grid-cols-2 gap-4 mt-8"> --}}
            {{!-- <img class="w-full rounded-lg"
                src="/images/headshot3.png"
                alt="picture of Heather Weltzien"> --}}
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="/images/office.jpg"
                alt="office content">
        {{!-- </div> --}}
    </div>
</section>