
<h1 class="text-sm font-semibold mt-8 text-gray-600 text-center">Create an account to join our community.</h1>

      <form class="signup-form">
        <div class="my-3">
          <label for="username-signup">Username:</label>
          <input class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" type="text" id="username-signup" />
        </div>
        <div class="">
          <label for="email-signup">Email:</label>
          <input class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" type="text" id="email-signup" />
        </div>
        <div class="my-3">
          <label for="password-signup">Password:</label>
          <input class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" type="password" id="password-signup" />
        </div>
        <div class="">
          <button class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300" type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>
  <script src="./js/signup.js"></script>