<link rel="stylesheet" href="./css/form.css">

    
    <section class="theme-img"> </section>
    
   <h1>Recent Posts</h1>
    
<article class="border" id="dynamicPosts"></article>
<script src="js/blog.js"></script>