<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Zeyada&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/form.css">
    <title>Plant Mama's Blog</title>
</head>

<body>
    <header>
        <button onclick="myDarkModeFunction()" id="theme-switcher"><img src="./assets/sun2.png" class="lightDarkToggle" alt="sun clipart"/></button>
       
    </header>
    <h1>Create a New Post</h1>
    <section class="theme-img"> </section>
    
    <div class="parent-container">
        <div class="circle">What's on your mind?</div>
        <div class ="form-container">
            <form id="myForm">
                <label for="username">Username</label><br>
                <input type="text" id="username" placeholder="Type here"><br>
                <label for ="title">Title</label><br>
                <input type="text" id="title" placeholder="Type here"><br>
                <label for="content">Content</label><br>
                
                <textarea id="content" placeholder="Type here"></textarea>

                <div id="msg"></div>
                <button class="submitBtn">Submit</button>
                
            </form>
            
        </div>
    </div>
</body>
<script src="js/form.js"></script>
<script src="js/logic.js"></script>
</html>