<div class="w-full h-screen bg-gray-400 lg:w-1/2 flex items-center justify-center"><!--Form left side-->
    <div class="max-w-md w-full p-6"><!--Login-->
      <h2 class="text-3xl font-semibold mb-6 text-black text-center">Login</h2>
      <form class="login-form">
        <div class="my-3">
          <label for="email-login" class="">Email:</label>
          <input class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" type="text" id="email-login" />
        </div>
        <div class="">
          <label for="password-login">Password:</label>
          <input class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300" type="password" id="password-login" />
        </div>
        <div class="my-3">
          <button class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:outline-none focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300" type="submit">login</button>
        </div>
      </form>
      
      
<script src="./js/login.js"></script>