
<link rel="stylesheet" href="./css/blog.css">
    
    



<button onclick="backBTNFunction()" id="backBtn"><img src="./assets/arrow left.jpg" class= "backBtn" alt="left arrow"/><br>Back</button>
<body>
<header>
    <h1>Recent Posts</h1>
    
</header>
<section class="theme-img"> </section>
<article id="dynamicPosts"></article>




<script src="js/blog.js"></script>

