<link rel="stylesheet" href="./css/form.css">

    <h1>Create a New Post</h1>
    {{!-- <section class="theme-img"> </section> --}}
    
    <article class="parent-container">
        <div class="circle">What's on your mind?</div>
        <div class ="form-container">
            <form id="myForm">
                <label for="username">Username</label><br>
                <input type="text" id="username" placeholder="Type here"><br>
                <label for ="title">Title</label><br>
                <input type="text" id="title" placeholder="Type here"><br>
                <label for="content">Content</label><br>
                
                <textarea id="content" placeholder="Type here"></textarea>

                {{!-- <div id="msg"></div> --}}
                <button class="submitBtn">Submit</button>
                
            </form>
            
        </div>
    </article>

<script src="js/form.js"></script>